name: Build Assets

on:
  push:
    branches:
      - master
    paths:
      - 'generate/**'
      - '.github/workflows/icons.yml'
      - 'builder_config.json'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'
  pull_request:
    paths:
      - 'generate/**'
      - '.github/workflows/icons.yml'
      - 'builder_config.json'
      - 'package.json'
      - 'package-lock.json'
      - 'tsconfig.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build-builder:
    name: Build Assets builder
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install Dev Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Project
        run: pnpm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/

  build-assets:
    name: Build Assets
    runs-on: ubuntu-latest
    needs: build-builder

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Download build artifacts
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --prod

      - name: Start Builder
        run: pnpm run start

      - name: Archive production artifacts
        uses: actions/upload-artifact@v5
        with:
          name: assets
          path: assets-dist/

  deploy:
    name: Upload to S3
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    needs: build-assets

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: assets
          path: assets-dist/

      - name: Upload files
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_ENDPOINT: ${{ secrets.AWS_ENDPOINT }}
        run: |
          aws configure set region auto
          aws s3 sync --endpoint-url $AWS_ENDPOINT assets-dist/ s3://cat-activity --checksum-algorithm CRC32
